asgiref==3.8.1
certifi==2025.6.15
cfgv==3.4.0
charset-normalizer==3.4.2
distlib==0.3.9
dj-database-url==2.3.0
Django==5.1.7
django-filter==23.5
djangorestframework==3.15.2
et_xmlfile==2.0.0
filelock==3.18.0
gunicorn==23.0.0
identify==2.6.9
idna==3.10
nodeenv==1.9.1
numpy==2.3.1
openpyxl==3.1.5
packaging==24.2
pandas==2.3.0
platformdirs==4.3.7
pre_commit==4.2.0
psycopg2-binary==2.9.10
pyfiglet==1.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
types-requests==2.32.4.20250611
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.29.3
whitenoise==6.9.0
